<section>
  <h1>{{ title }}</h1>
  <article>
    {% block content %}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dignissimos fugiat inventore laborum maiores molestiae neque quia quo unde veniam?
    {% endblock %}
  </article>
</section>
